body {
   font-family: "Inter";
   color: #ffffff;
}

.header {
   padding-top: 55px;
   padding-left: 146px;
   background-image: url(../img/background.png);
   background-position: center;
   background-size: cover;

   nav {
      ul {
         display: flex;
         list-style: none;
         gap: 15px;
      }

      li {
         font-weight: 200;
         font-size: 24px;
         line-height: 29px;
      }
   }
   h1 {
      font-weight: 200;
      font-size: 70px;
      line-height: 85px;
      width: 561px;
      padding-top: 71px;

      & + p {
         font-weight: 300;
         font-size: 21px;
         line-height: 25px;
         width: 570px;
         margin: 22px 0 49px;
      }
   }

   .btn {
      background-color: #b47b48;
   }

   & .btn-header {
      padding: 16px 34px 16px 34px;
      border-radius: 17px;
      border: none;
      margin-top: 49px;
   }

   & .btn1 {
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
      color: #ffffff;
   }

   .cards {
      display: flex;
      justify-content: space-between;
      width: 90%;
      height: 225px;
      margin-top: 125px;
      padding-bottom: 33px;

      .card {
         background-color: #272727;
         width: 310px;
         display: flex;
         align-items: center;

         &:hover {
            background-color: #ebad51;
         }

         div {
            text-align: center;
            width: 100%;

            p {
               @include textStyle(200, 24px, 29px);
               padding-bottom: 13px;
            }

            h5 {
               @include textStyle(500, 16px, 19px);
               padding-bottom: 35px;
            }

            button {
               @include textStyle(900, 16px, 19px);
               color: #ffffff;
               background-color: #c85312;
               border: none;
               padding: 10px 22px 5px;
            }
         }

         &:nth-of-type(1) img {
            width: 162px;
         }

         &:nth-of-type(2) img {
            width: 215px;
         }
      }
   }
}

h5 {
   color: black;
}

.menu {
   background: #202023;
   width: 100%;
   height: 100%;
   position: absolute;

   .carts {
      width: 988px;
      height: 462px;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      margin: auto;
      justify-content: space-between;
   }

   .cart-1 {
      border: 1px solid #ffffff;
      width: 328px;
      height: 229px;
   }

   .cart-2 {
      width: 328px;
      height: 229px;
      border: 1px solid #ffffff;
   }

   .cart-3 {
      width: 328px;
      height: 229px;
      border: 1px solid #ffffff;
      margin-top: 65px;
      
   }

   .cart-4 {
      width: 328px;
      height: 229px;
      border: 1px solid #ffffff;
      margin-top: 65px;
   }

   h5 {
      color: #ffffff;
      font-size: 24px;
   }

   button {
      border: 1px solid #b47b48;
      background: #b47b48;
      border-radius: 17px;
      width: 137px;
      height: 41px;
      color: white;
      margin-top: 35px;
   }

   h2 {
      width: 165px;
      height: 77px;
      margin-left: 45%;
      margin-right: 45%;
      padding-top: 21px;

      font-weight: 100;
      font-size: 64px;
      line-height: 77px;
   }

   img{
      width: 294px;
      height: 185px;
   }
}
